@media screen and (max-width: 600px) {
  body {
    height: 216.5vw;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  /* ______________бургер-меню______________ */
  #burger {
    width: 40px;
    height: 26px;
    position: fixed;
    z-index: 5;
    margin-top: 5vw;
    margin-left: 2.5vw;
    cursor: pointer;
    mix-blend-mode: difference;
  }
  #burger::after,
  #burger::before {
    width: 100%;
    height: 2.5px;
    background-color: #ffe600;
    border-radius: 10px;
    content: '';
    position: absolute;
    left: 0;
    transition: transform ease 0.8s;
  }
  #burger::before {
    top: 13px;
  }
  #burger.active::before {
    top: 0px;
    transform: rotate(45deg);
  }
  #burger.active::after {
    transform: rotate(-45deg);
  }
  .blueRec {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    border-radius: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 3.4vw 2vw 3.4vw;
    gap: 4vw;
    transition: transform ease 0.8s;
    transform: translateX(-100%);
  }
  .blueRec a {
    font-size: 8vw;
    position: relative;
  }
  .blueRec p {
    font-size: 8vw;
    position: relative;
  }
  #main {
    margin-left: 1vw;
  }
  #time {
    margin-top: 60vw;
    margin-left: 1vw;
    z-index: 5;
  }
  #timeName {
    margin-top: -5vw;
    margin-left: 1vw;
  }
  #name {
    display: none;
  }
  .blueRec #fullLogo {
    width: 20%;
  }
  #burger.active + .blueRec {
    transform: translateX(0);
  }
  .blueRec a:not(.active)::before {
    content: '';
    position: absolute;
    right: 6.4vw;
    width: 8vw;
    height: 8vw;
    opacity: 0;
    transition:
      transform ease 0.8s,
      opacity ease 0.2s;
  }
  .blueRec a:not(.active):hover::before {
    opacity: 1;
    transform: translateX(3vw);
  }
  /* _______________главный экран_______________ */
  .header {
    height: 3.5vw;
    background-color: #0504ff;
  }
  .windows {
    display: none;
  }
  .mainScreen {
    height: 221vw;
    overflow: hidden;
  }
  .content {
    width: 100%;
    height: 221vw;
  }
  .baran,
  .baran_2 {
    font-size: 30vw;
    top: -5vw;
    left: 52vw;
  }
  .paleolit {
    display: none;
  }
  .paleolitMobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: visible;
    display: block;
  }
  .paleolit_block_mobile {
    position: absolute;
    animation: block 4s linear infinite alternate;
  }
  .imageElement {
    position: absolute;
    display: block;
    width: 25vw;
    height: auto;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.9;
    animation: fadeOut 3s forwards;
    background-color: transparent;
    z-index: 3;
  }
  .work {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blueBorder_1,
  .blueBorder_2 {
    width: 1vw;
    height: 221vw;
  }
  .blueBorder_2 {
    left: 99.07vw;
  }
  .blueBorder_3 {
    width: 100%;
    height: 1vw;
    top: 221.1vw;
    left: 0;
  }
  .iconAnimateMobile {
    width: 42vw;
    height: 36vw;
    background-image: url('../images/iconAnimateMobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 93vw;
    left: 29vw;
    animation: iconMobile 1.5s infinite steps(1);
  }

  /* ______________экран с проектами______________ */
  body {
    height: 216.5vw;
  }
  .blueBorder_3 {
    height: 100vw;
    top: 220.8vw;
  }
  .project {
    font-family: 'Stezhok';
    font-size: 11vw;
    color: #fdfdfd;
    position: absolute;
    top: 1.6vw;
    left: 64.7vw;
    z-index: 2;
  }
  .projectScreen {
    width: 100%;
    height: 212.5vw;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .buttonScreen {
    width: 100%;
    height: 70vw;
  }
  .stroke_5 {
    width: 95vw;
    height: 61vw;
    outline-width: 0.35vw;
    margin: 7vw 0.5vw 0.5vw 2.5vw;
  }
  .stroke_6 {
    width: 93vw;
    height: 55vw;
    outline-width: 0.35vw;
    margin: 0 auto;
    top: 15vw;
    left: 3.5vw;
  }
  .fullScreenButton,
  .thinScreenButton {
    display: none;
  }
  .rec_7,
  .rec_8,
  .rec_9,
  .rec_10,
  .rec_11,
  .rec_12 {
    height: 8.9vw;
  }
  #windowName_7,
  #windowName_8,
  #windowName_9,
  #windowName_10,
  #windowName_11,
  #windowName_12 {
    font-size: 3vw;
    padding-top: 3.3vw;
  }
  .pageIcon2 {
    width: 6.4vw;
    top: 17vw;
    left: 89vw;
    animation-duration: 0.8s;
    animation-play-state: running;
  }
  .pageIcon3 {
    width: 6.4vw;
    top: 26.3vw;
    left: 89vw;
    animation-duration: 0.8s;
    animation-play-state: running;
  }
  .pageIcon4 {
    width: 6.4vw;
    top: 35.6vw;
    left: 89vw;
    animation-duration: 0.8s;
    animation-play-state: running;
  }
  .pageIcon5 {
    width: 6.4vw;
    top: 44.6vw;
    left: 89vw;
    animation-duration: 0.8s;
    animation-play-state: running;
  }
  .pageIcon6 {
    width: 6.4vw;
    top: 53.6vw;
    left: 89vw;
    animation-duration: 0.8s;
    animation-play-state: running;
  }
  .pageIcon7 {
    width: 6.4vw;
    top: 62.9vw;
    left: 89vw;
    animation-duration: 0.8s;
    animation-play-state: running;
  }
  .pageIcon8,
  .pageIcon9,
  .pageIcon10,
  .pageIcon11,
  .pageIcon12,
  .pageIcon13,
  .pageIcon14,
  .pageIcon15,
  .pageIcon16,
  .pageIcon17,
  .pageIcon18,
  .pageIcon19,
  .pageIcon20,
  .pageIcon21,
  .pageIcon22 {
    display: none;
  }
  .contentScreen {
    width: 100%;
    height: 70.5vw;
    display: flex;
  }
  .masks {
    width: 40vw;
    height: 60vw;
    background-image: url('../images/masks.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 45vw 0vw 10vw 12vw;
    animation: mask 5s infinite steps(1);
  }
  .masks2 {
    width: 40vw;
    height: 60vw;
    background-image: url('../images/masks.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 45vw 10vw 10vw 0vw;
    animation: mask 5s infinite 0.5s steps(1);
  }
  .hoverScreen_1,
  .hoverScreen_2,
  .hoverScreen_3,
  .hoverScreen_4,
  .hoverScreen_5,
  .hoverScreen_6 {
    z-index: 10;
  }
  .windowScreen_1,
  .windowScreen_2,
  .windowScreen_3,
  .windowScreen_4,
  .windowScreen_5,
  .windowScreen_6 {
    width: 100%;
    height: 147.4vw;
    top: 73.5vw;
    left: 0;
    transition:
      height 0.3s ease,
      opacity 0.3s ease;
  }
  .stroke_7 {
    width: 95vw;
    height: 144vw;
    outline-width: 0.35vw;
    margin: 1vw 0.5vw 0.5vw 2.5vw;
  }
  .stroke_8 {
    width: 92.5vw;
    height: 139vw;
    outline-width: 0.35vw;
    margin: 4.5vw 0.5vw 0.5vw 3.4vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .text_1 {
    width: 99%;
    margin: 0 auto;
    justify-content: start;
  }
  #mainInfo {
    height: 45%;
  }
  #info {
    height: 18%;
  }
  #leftT,
  #rightT {
    font-size: 3vw;
  }
  #describeInfo {
    align-items: start;
    margin-top: -8vw;
  }
  #downT {
    font-size: 3vw;
    line-height: 3.5vw;
  }
  .images_1 {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: -38vw;
  }
  .exit_1,
  .exit_2,
  .exit_3,
  .exit_4,
  .exit_5,
  .exit_6 {
    display: block;
    width: 4vw;
    height: 4vw;
    font-family: 'Architexture';
    font-size: 4vw;
    left: 92.5vw;
  }
  .screenButton_project {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: -1.7vw;
    left: 85vw;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Stezhok';
    font-size: 37.1vw;
    color: #fdfdfd;
    cursor: pointer;
  }
  #imgInfo {
    width: 100%;
    height: 100%;
  }
  .modalContent {
    max-width: 96%;
    padding-top: 70vw;
    padding-left: 3vw;
  }
  .modalText {
    width: 100%;
    top: 145vw;
    left: 2.5vw;
  }
  .modalText p {
    font-size: 3vw;
    line-height: 3.4vw;
  }
}

.windowScreen_collapsed {
  height: 6vw;
  overflow: hidden;
  top: 73.5vw;
  left: 0;
  background-color: #0504ff;
}
.windowScreen_collapsed .text_1,
.windowScreen_collapsed .images_1,
.windowScreen_collapsed .modalImgWindow_1,
.windowScreen_collapsed .stroke_7,
.windowScreen_collapsed .stroke_8 {
  display: none;
}
.windowScreen_collapsed #windowName_7,
.windowScreen_collapsed #windowName_8,
.windowScreen_collapsed #windowName_9 {
  display: block;
  font-size: 2.5vw;
  padding: 1vw;
  text-align: center;
}
