@keyframes block {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.4;
    transform: scale(0.6);
  }
}
@keyframes carousel {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-4970px);
  }
}
@keyframes imageRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes carousel2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}
@keyframes iconMobile {
  0% {
    background-position-x: 0px;
  }
  33% {
    background-position-x: -50vw;
  }
  66% {
    background-position-x: -95vw;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}
