/* ______________страница с проектами______________ */
.projectScreen {
  width: 100%;
  height: 48vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.buttonScreen {
  width: 39.5%;
  height: 48vw;
  background-color: #0504ff;
}
.stroke_5 {
  width: 37vw;
  height: 44.4vw;
  outline-style: solid;
  outline-width: 0.15vw;
  outline-color: #fdfdfd;
  margin: 0.5vw 0.5vw 0.5vw 1vw;
}
.stroke_6 {
  position: absolute;
  width: 36.3vw;
  height: 42.2vw;
  top: 4.3vw;
  left: 0.05vw;
  outline-style: solid;
  outline-width: 0.15vw;
  outline-color: #fdfdfd;
  margin: 0.5vw 0.5vw 0.5vw 1.3vw;
}
.exit_5 {
  width: 1vw;
  height: 1vw;
  background-color: #fdfdfd;
  position: absolute;
  top: 3.3vw;
  left: 36.7vw;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Stezhok';
  font-size: 1.6vw;
  cursor: pointer;
}
#windowName_7,
#windowName_8,
#windowName_9,
#windowName_10,
#windowName_11,
#windowName_12 {
  font-family: 'Architexture';
  font-size: 0.9vw;
  color: #fdfdfd;
  font-weight: 500;
  margin-left: 2vw;
  margin-top: 0.6vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}
.pageIcon2 {
  position: absolute;
  top: 5.5vw;
  left: 36vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon2:hover {
  animation-play-state: running;
}
.pageIcon3 {
  position: absolute;
  top: 8.1vw;
  left: 36vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon3:hover {
  animation-play-state: running;
}
.pageIcon4 {
  position: absolute;
  top: 8.1vw;
  left: 34.7vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon4:hover {
  animation-play-state: running;
}
.pageIcon5 {
  position: absolute;
  top: 10.6vw;
  left: 34.7vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon5:hover {
  animation-play-state: running;
}
.pageIcon6 {
  position: absolute;
  top: 10.6vw;
  left: 36vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon6:hover {
  animation-play-state: running;
}
.pageIcon7 {
  position: absolute;
  top: 10.6vw;
  left: 33.4vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon7:hover {
  animation-play-state: running;
}
.pageIcon8 {
  position: absolute;
  top: 13.1vw;
  left: 36vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon8:hover {
  animation-play-state: running;
}
.pageIcon9 {
  position: absolute;
  top: 13.1vw;
  left: 34.7vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon9:hover {
  animation-play-state: running;
}
.pageIcon10 {
  position: absolute;
  top: 13.1vw;
  left: 33.4vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon10:hover {
  animation-play-state: running;
}
.pageIcon11 {
  position: absolute;
  top: 13.1vw;
  left: 32.1vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon11:hover {
  animation-play-state: running;
}
.pageIcon12 {
  position: absolute;
  top: 15.6vw;
  left: 36vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon12:hover {
  animation-play-state: running;
}
.pageIcon13 {
  position: absolute;
  top: 15.6vw;
  left: 34.7vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon13:hover {
  animation-play-state: running;
}
.pageIcon14 {
  position: absolute;
  top: 15.6vw;
  left: 33.4vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon14:hover {
  animation-play-state: running;
}
.pageIcon15 {
  position: absolute;
  top: 15.6vw;
  left: 32.1vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon15:hover {
  animation-play-state: running;
}
.pageIcon16 {
  position: absolute;
  top: 15.6vw;
  left: 30.8vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon16:hover {
  animation-play-state: running;
}
.pageIcon17 {
  position: absolute;
  top: 18.1vw;
  left: 36vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon17:hover {
  animation-play-state: running;
}
.pageIcon18 {
  position: absolute;
  top: 18.1vw;
  left: 34.7vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon18:hover {
  animation-play-state: running;
}
.pageIcon19 {
  position: absolute;
  top: 18.1vw;
  left: 33.4vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon19:hover {
  animation-play-state: running;
}
.pageIcon20 {
  position: absolute;
  top: 18.1vw;
  left: 32.1vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon20:hover {
  animation-play-state: running;
}
.pageIcon21 {
  position: absolute;
  top: 18.1vw;
  left: 30.8vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon21:hover {
  animation-play-state: running;
}
.pageIcon22 {
  position: absolute;
  top: 18.1vw;
  left: 29.5vw;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.pageIcon22:hover {
  animation-play-state: running;
}

.hoverScreen {
  width: 30vw;
  height: 22vw;
  background-color: transparent;
  margin: 12vw 15vw;
  position: relative;
  overflow: hidden;
  animation: imageRotate 0.6s linear infinite;
  animation-play-state: paused;
}
.windowContent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  padding: 0.5vw 0.5vw;
  opacity: 0;
}
